page-home {
  signature-pad {
    display: block;
    margin: 10px;

    canvas {
      border: 2px dashed #cccccc;
      width: 100%;
      height: 200px;
    }
  }

  .res-div {
    display: block;
    width: 100%;
    padding: 10px;

    .res-img {
      border: 1px dashed #cccccc;
    }
  }
}
